In [14]:
import numpy as np
import pandas as pd

## DataTypes & Attributes

In [15]:
# NumPy's main datatype is ndarray (n-dimensional array)
a1 = np.array([1, 2, 3])
a1

array([1, 2, 3])

In [16]:
type(a1)

numpy.ndarray

In [17]:
a2 = np.array([[1, 2.0, 3.3], 
               [4, 5, 6.5]])

a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]],
               [[10, 11, 12],
                [13, 14, 15],
                [16, 17, 18]]])

In [18]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [19]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

### Atonomy of NumPy Array

 ![](atonomy-of-numpy-array.png)

In [20]:
a1.shape

(3,)

In [21]:
a2.shape

(2, 3)

In [22]:
a3.shape

(2, 3, 3)

In [23]:
# [ndim] number of dimension
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [25]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int64'), dtype('float64'), dtype('int64'))

In [26]:
# [size] tell you the total of elements in the array
a1.size, a2.size, a3.size

(3, 6, 18)

In [27]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [28]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [29]:
# Create a DataFrame from a NumPy array
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

## 2. Creating NumPy Arrays

In [33]:
sample_array = np.array([1, 2, 3])
sample_array

array([1, 2, 3])

In [35]:
sample_array.dtype

dtype('int64')

### Shift and Tab to open documentation

In [38]:
# [np.ones] Return a new array of given shape and type, filled with ones.
ones = np.ones((2,3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [40]:
ones.dtype

dtype('float64')

In [41]:
type(ones)

numpy.ndarray

In [43]:
zeros = np.zeros((2, 3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [44]:
range_array = np.arange(0, 10, 2)
range_array

array([0, 2, 4, 6, 8])

In [46]:
random_array = np.random.randint(1, 10, size=(3, 5))
random_array

array([[6, 6, 6, 1, 6],
       [4, 5, 5, 2, 7],
       [5, 6, 7, 5, 4]])

In [48]:
random_array.size

15

In [49]:
random_array.shape

(3, 5)

In [52]:
random_array_2 = np.random.random((5, 3))
random_array_2

array([[0.23466625, 0.53452908, 0.78954976],
       [0.33246386, 0.2365962 , 0.22808857],
       [0.84488751, 0.42609207, 0.82215375],
       [0.59981801, 0.53403038, 0.5603706 ],
       [0.37514812, 0.11224317, 0.86995885]])

In [53]:
random_array_2.size

15

In [54]:
random_array_2.shape

(5, 3)

In [57]:
random_array_3 = np.random.rand(2, 5, 3)
random_array_3

array([[[0.36398602, 0.55350418, 0.71277764],
        [0.40170178, 0.5437677 , 0.36662151],
        [0.51659181, 0.36750786, 0.45255337],
        [0.46379038, 0.45169768, 0.79241168],
        [0.06116882, 0.52960347, 0.13591278]],

       [[0.65463402, 0.21981201, 0.61549056],
        [0.73206339, 0.08603031, 0.75351301],
        [0.74816399, 0.42375818, 0.84325585],
        [0.01570348, 0.86161453, 0.0560911 ],
        [0.16427547, 0.36630217, 0.78025486]]])

### NumPy Random Seed
- non random random number
- a reproducable random number so when we share we will still get the same random number

In [68]:
# Pseudo-random number
np.random.seed(seed = 27) 
random_array_4 = np.random.randint(10, size=(5, 3))
random_array_4

array([[3, 8, 8],
       [8, 0, 5],
       [8, 9, 1],
       [2, 1, 1],
       [4, 6, 3]])

In [64]:
random_array_4.shape

(5, 3)

In [74]:
np.random.seed(7)
random_array_5 = np.random.random((5,3))
random_array_5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587],
       [0.50112046, 0.07205113, 0.26843898],
       [0.4998825 , 0.67923   , 0.80373904],
       [0.38094113, 0.06593635, 0.2881456 ]])

In [75]:
random_array_5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587],
       [0.50112046, 0.07205113, 0.26843898],
       [0.4998825 , 0.67923   , 0.80373904],
       [0.38094113, 0.06593635, 0.2881456 ]])

In [76]:
random_array_5 = np.random.random((5, 3))
random_array_5

array([[0.90959353, 0.21338535, 0.45212396],
       [0.93120602, 0.02489923, 0.60054892],
       [0.9501295 , 0.23030288, 0.54848992],
       [0.90912837, 0.13316945, 0.52341258],
       [0.75040986, 0.66901324, 0.46775286]])

## 3. Viewing Arrays and Matrices
- [np.unique] finding unique element

In [79]:
np.unique(random_array_4)

array([0, 1, 2, 3, 4, 5, 6, 8, 9])

In [80]:
a1

array([1, 2, 3])

In [81]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [82]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [83]:
a1[0]

1

In [84]:
a2[0]

array([1. , 2. , 3.3])

In [85]:
a3[0]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [88]:
a2[1, 0]

4.0

In [89]:
a3[:2, :2, :2]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]]])

In [91]:
a4 = np.random.randint(10, size=(2, 3, 4, 5))
a4

array([[[[7, 5, 4, 9, 6],
         [8, 1, 5, 5, 8],
         [3, 7, 7, 9, 4],
         [7, 5, 9, 6, 2]],

        [[0, 5, 3, 0, 5],
         [7, 1, 8, 4, 9],
         [0, 2, 0, 7, 6],
         [2, 9, 9, 5, 1]],

        [[0, 0, 9, 1, 1],
         [5, 3, 2, 0, 4],
         [8, 7, 1, 4, 9],
         [3, 6, 7, 1, 0]]],


       [[[2, 7, 0, 0, 9],
         [8, 2, 0, 5, 5],
         [0, 9, 0, 8, 4],
         [5, 1, 4, 0, 7]],

        [[2, 0, 3, 9, 8],
         [3, 7, 1, 0, 1],
         [4, 6, 1, 0, 1],
         [0, 1, 8, 4, 1]],

        [[6, 8, 5, 2, 4],
         [7, 4, 1, 2, 8],
         [5, 2, 9, 6, 2],
         [5, 7, 7, 5, 5]]]])

In [93]:
a4.shape, a4.ndim

((2, 3, 4, 5), 4)

In [94]:
a4[1, 1, 0, :4]

array([2, 0, 3, 9])

In [96]:
a4[1, 0, :2]

array([[2, 7, 0, 0, 9],
       [8, 2, 0, 5, 5]])

In [99]:
# Get the first 4 number of the inner most arrays
a4[:, :, :, :4]

array([[[[7, 5, 4, 9],
         [8, 1, 5, 5],
         [3, 7, 7, 9],
         [7, 5, 9, 6]],

        [[0, 5, 3, 0],
         [7, 1, 8, 4],
         [0, 2, 0, 7],
         [2, 9, 9, 5]],

        [[0, 0, 9, 1],
         [5, 3, 2, 0],
         [8, 7, 1, 4],
         [3, 6, 7, 1]]],


       [[[2, 7, 0, 0],
         [8, 2, 0, 5],
         [0, 9, 0, 8],
         [5, 1, 4, 0]],

        [[2, 0, 3, 9],
         [3, 7, 1, 0],
         [4, 6, 1, 0],
         [0, 1, 8, 4]],

        [[6, 8, 5, 2],
         [7, 4, 1, 2],
         [5, 2, 9, 6],
         [5, 7, 7, 5]]]])

## 4. Manipulating Arrays & comparing array

### Arithmetic

In [100]:
a1

array([1, 2, 3])

In [102]:
ones = np.ones(3)
ones

array([1., 1., 1.])

In [103]:
a1 + ones

array([2., 3., 4.])

In [107]:
a1 - ones

array([0., 1., 2.])

In [108]:
a1 * ones

array([1., 2., 3.])

In [106]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [104]:
a2 + ones

array([[2. , 3. , 4.3],
       [5. , 6. , 7.5]])

In [109]:
a1 * a2

array([[ 1. ,  4. ,  9.9],
       [ 4. , 10. , 19.5]])

In [111]:
# 2-dim and 3-dim are not valid multiplication, thus we see smaller 
# array broadcast larger array incompatable
a2 * a3

ValueError: operands could not be broadcast together with shapes (2,3) (2,3,3)

In [112]:
# How can you reshape a2 to be compatible with a3
# Search: "How to reshape numpy array"

In [113]:
a1 / ones

array([1., 2., 3.])

In [115]:
# Floor division removes the decimals (rounds down)
a2 // a1

array([[1., 1., 1.],
       [4., 2., 2.]])

In [116]:
# 2 to the power of 2
a2 ** 2

array([[ 1.  ,  4.  , 10.89],
       [16.  , 25.  , 42.25]])

In [117]:
np.square(a2)

array([[ 1.  ,  4.  , 10.89],
       [16.  , 25.  , 42.25]])

In [118]:
np.add(a1, ones)

array([2., 3., 4.])

In [121]:
# moduler
a1 % 2

array([1, 0, 1])

In [122]:
# exponential
np.exp(a1)

array([ 2.71828183,  7.3890561 , 20.08553692])

In [124]:
# log
np.log(a1)

array([0.        , 0.69314718, 1.09861229])

## 4. Manipulating Arrays & comparing array [part2]

### Aggregation
- Aggregation = performing the same operation on a number of things

In [128]:
# Python way of doing list
listy_list = [1, 2, 3]
type(listy_list)

list

In [127]:
sum(listy_list)

6

In [129]:
sum(a1)

6

In [131]:
np.sum(a1)

6

Use Python's (`sum()`) methods on Python datatypes and use NumPy methods on NumPy arrays (`np.sum`)

In [132]:
# Creating a massive NumPy array
massive_array = np.random.random(100000)
massive_array.size

100000

In [135]:
massive_array[:10]

array([0.75195356, 0.06166533, 0.74482367, 0.94627593, 0.60355955,
       0.28757994, 0.67236922, 0.71204879, 0.65645029, 0.14693032])

In [137]:
# [%timeit] Python function to time how long a line of code take to run 
%timeit sum(massive_array) # Python's sum()
%timeit np.sum(massive_array) # NumPy's np.sum() µs micro second

18.8 ms ± 132 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
50.5 µs ± 772 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [138]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [139]:
np.mean(a2)

3.6333333333333333

In [140]:
np.max(a2)

6.5

In [141]:
np.min(a2)

1.0

In [142]:
# standard diviation = a measure of spread out a group of number is 
# from the mean. Standard diviation is also the square root of variance
np.std(a2)

1.8226964152656422

In [144]:
# variance = measure of the average degree to which each number is
# different to the mean
# Higher variance = wider range of numbers
# Lower variance = lower range of numbers
np.var(a2)

3.3222222222222224

In [145]:
# Standard diviation = squareroot of variance
np.sqrt(np.var(a2))

1.8226964152656422